{% extends 'base.html.twig' %}
{% block body %}
    <div id="wrapper">
        <div id="container" class="row">
            <div id="welcome" class="col-lg-12 col-md-12 col-sm-12">
                <h2>Dzień dobry!</h2>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <a class="btn btn-info" role="button" href="/rodzicedzieci">Rodzice i dzieci</a>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <a class="btn btn-danger" role="button" href="/oauth/google/auth">Lista z Youtube</a>
            </div>
        </div>
    </div>
{% endblock %}