{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div class="row">
                <a class="btn btn-info" role="button" href="/">Homepage</a>
            </div>
            <div id="welcome">
                <h2>Dodaj rodzica i/lub dzieci</h2>
            </div>
            {{ form_start(form) }}
            <label for="form_imie">Rodzic&nbsp;</label>
            {{ form_widget(form.imie) }}
            <ul class="dzieci" data-prototype="{{ form_widget(form.dzieci.vars.prototype)|e('html_attr') }}">
                {% for dziecko in form.dzieci %}
                    <li>{{ form_row(dziecko.imie) }}</li>
                    {% endfor %}
            </ul>    
            {{ form_widget(form.save) }}
            {{ form_end(form) }}
            <div id="status">
                <h2>Lista:</h2>
            </div>
            <ol>
            {% for rodzic in list %}
                <li> {{ rodzic.imie }}
                    <ul>
                        {% for dziecko in rodzic.dzieci %}
                            <li>{{ dziecko.imie }}</li>
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}
        </ul>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
        ul {
          list-style-type: none;
        }
{% endblock %}
{% block javascripts %}
    <script>
        var $collectionHolder;

        // setup an "add a tag" link
        var $addTagLink = $('<a href="#" class="add_tag_link">Dodaj dziecko</a>');
        var $newLinkLi = $('<li></li>').append($addTagLink);

        jQuery(document).ready(function () {
            // Get the ul that holds the collection of tags
            $collectionHolder = $('ul.dzieci');

            // add the "add a tag" anchor and li to the tags ul
            $collectionHolder.append($newLinkLi);

            // count the current form inputs we have (e.g. 2), use that as the new
            // index when inserting a new item (e.g. 2)
            $collectionHolder.data('index', $collectionHolder.find(':input').length);

            $addTagLink.on('click', function (e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();

                // add a new tag form (see next code block)
                addDzieckoForm($collectionHolder, $newLinkLi);
            });
        });
        function addDzieckoForm($collectionHolder, $newLinkLi) {
            // Get the data-prototype explained earlier
            var prototype = $collectionHolder.data('prototype');

            // get the new index
            var index = $collectionHolder.data('index');

            var newForm = prototype;
            // You need this only if you didn't set 'label' => false in your tags field in TaskType
            // Replace '__name__label__' in the prototype's HTML to
            // instead be a number based on how many items we have
            // newForm = newForm.replace(/__name__label__/g, index);

            // Replace '__name__' in the prototype's HTML to
            // instead be a number based on how many items we have
            newForm = newForm.replace(/__name__/g, index);

            // increase the index with one for the next item
            $collectionHolder.data('index', index + 1);

            // Display the form in the page in an li, before the "Add a tag" link li
            var $newFormLi = $('<li></li>').append(newForm);
            $newLinkLi.before($newFormLi);
        }
    </script>
{% endblock %}