{% extends 'base.html.twig' %}
{% block body %}
    <div id="wrapper">
        <div class="row bpad">
            <a class="btn btn-info" role="button" href="/">Homepage</a>
        </div>
        <h1>Lista najpopularniejszych na YT</h1>
        <div id="container">
            <div class="row bpad">
                <div class="col-lg-2">
                    <button type="button" data-token="{{ videos.prevPageToken }}" class="btn btn-info prevnext{% if videos.prevPageToken == null %} disabled{% endif %}">&laquo; Poprzednie</button>
                </div>
                <div class="col-lg-8"></div>
                <div class="col-lg-2">
                    <button type="button" data-token="{{ videos.nextPageToken }}" class="pull-right btn btn-info prevnext{% if videos.nextPageToken == null %} disabled{% endif %}">Następne &raquo;</button>
                </div>
            </div>
            <ul class="list-unstyled row">
                {% for video in videos %}
                    <li class="col-lg-12"><div class="vid inline">
                            <a href="http://youtube.com/watch?v={{ video.id }}" title="{{ video.snippet.title }}" target="_blank">
                                <img src="{{ video.snippet.thumbnails.default.url }}" alt="{{ video.snippet.title }}" />
                                {{ video.snippet.title }}
                            </a></div>
                    </li>
                {% endfor %}
            </ul>
            <div class="row">
                <div class="col-lg-2">
                    <button type="button" data-token="{{ videos.prevPageToken }}" class="btn btn-info prevnext{% if videos.prevPageToken == null %} disabled{% endif %}">&laquo; Poprzednie</button>
                </div>
                <div class="col-lg-8"></div>
                <div class="col-lg-2">
                    <button type="button" data-token="{{ videos.nextPageToken }}" class="pull-right btn btn-info prevnext{% if videos.nextPageToken == null %} disabled{% endif %}">Następne &raquo;</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block stylesheets %}
    div.vid    { font-size: 15px; margin-bottom: 1em; vertical-align: middle; }
    div.bpad   { margin-bottom: 1em; }
{% endblock %}
{% block javascripts %}
    <script>
        $(".prevnext").on('click', function (e) {
            window.location.href = '/youtube/' + $(e.target).attr('data-token');
            ;
        });
    </script>
{% endblock %}